MEDIA_ROOT=/data/media
SQLITE_DATABASE_NAME=/data/db.sqlite3
WAGTAIL_SITE_NAME=Portfolio
WAGTAILADMIN_BASE_URL=https://vc-portfolio.fly.dev
ALLOWED_HOSTS=vc-portfolio.fly.dev,victorachan.uk
SECRET_KEY=generate-a-new-one!
SENTRY_DSN=https://12345.ingest.us.sentry.io/12345
SENTRY_ENVIRONMENT=production
